!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Amingilani
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag params[:controller]

    = render 'favicon'
  %body
    .pusher
      = render partial: 'shared/header'
      = render partial: 'shared/notice'
      .body
        = yield
      = render partial: 'shared/footer'
      = console if Rails.env.development?
      = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
      = javascript_include_tag params[:controller].split('/').first
