.ui.middle.aligned.centered.grid
  .column
    %h2.ui.teal.image.header
      .image= image_tag("logo/logo.png")
      .content
        %h2 Sign up for an account
    = form_for(resource, as: resource_name, url: registration_path(resource_name) , html: { class: 'ui large form' } ) do |f|
      .ui.stacked.segment
        .field
          = f.label :username
          .ui.left.icon.input
            %i.user.icon
            = f.text_field :username, autofocus: true
        .field
          = f.label :email
          .ui.left.icon.input
            %i.user.icon
            = f.email_field :email
        .field
          = f.label :password
          .ui.left.icon.input
            %i.lock.icon
            = f.password_field :password, autocomplete: "off"
        .field
          = f.label :password_confirmation, 'Confirm password'
          .ui.left.icon.input
            %i.lock.icon
            = f.password_field :password_confirmation, autocomplete: "off"
        .actions
          = f.submit "Sign up", class: 'ui fluid large teal submit button'
          .ui.error.message
          - flash.each do |key, value|
            %div{:class => "ui negative message"}= value
    .ui.message
      %strong
        New to us?
        %a{:href => new_user_session_path} Sign Up
      .ui.divider
      .ui.accordion
        .title
          %i.dropdown.icon
          More Options
        .content
          %p.transition.hidden
            %ul
              %li= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)
              %li= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name)
